h1, h4 {
    font-family: "Lato", sans-serif;
    text-align: center;
}

p {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 11px;
    color: black;
}

.body {
    background-color: #f2f2f2;
    margin: 0;

}

button {
    display: block;
    margin: 0 auto;
    padding: 7px 7px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }