h1,
h4 {
    font-family: "Lato", sans-serif;
    text-align: center;
}

p {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 11px;
    color: black;
}

.body {
    background-color: #EDECEC;
    margin: 0;

}

button {
    display: block;
    margin: 0 auto;
    padding: 7px 7px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    background-color: #edeff0;
    color: #007bff;
    cursor: pointer;
}

button:hover {
    background-color: #d8e7f7;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}